
html, body {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

body {
    margin: 0;
    background-color: #d8d8d8;
    padding: 30px;
}

.work-details {
    margin: 0;
    margin-bottom: 2px;
}


.wrapper {
    height: 100%;
    margin: auto;
    max-width: 960px;
    position: relative;
}

.content {
    background-color: #f7fffe;
    height: 100%;
    padding: 60px 300px 60px 60px;
}

.sidebar {
    background-color: #7bc2d3;
    height: 100%;
    float: right;
    position: absolute;
    right: 0;
    width: 240px;
}

.profile-pic {
    background-color: #42A8C0;
    padding: 30px;
    text-align: center;
}

.profile-name {
    color: white;
}

.profile-job {
    color: #d8d8d8;
}

.profile-info {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    height: 100%;
}

.picture {
    height: 150px;
    width: 150px;
    background-color: white;
    text-align: center;
    margin: auto;
    border-radius: 100%;
}


.work-item-header {
    float: left;
    margin: 0;
}

.date {
    float: right;
    margin: 0;
}

.content-item {
    margin-bottom: 30px;
}

.item {
    margin-bottom: 15px;
}

.header {
    margin-top: 0;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 60px;
}

@media screen and (min-width: 990px) {
    .sidebar {
        float: right;
    }
}
