.page {
    height: 1100px;
    margin-top: 30px;
}

.content {
    background-color: blue;
    height: 100%;
}

.sidebar {
    background-color: red;
    height: 100%;
}

.profile-pic {
    background-color: yellow;
    height: 300px;
}