
html, body {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

body {
    margin: 0;
    background-color: #d8d8d8;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}


i {
    display: inline-block;
}

.wrapper {
    height: 100%;
    margin: auto;
    max-width: 1140px;
    position: relative;
}

.content {
    background-color: #f7fffe;
    height: 100%;
    padding: 60px 420px 60px 60px;
}

.sidebar {
    background-color: #42A8C0;
    height: 100%;
    float: right;
    position: absolute;
    right: 0;
    width: 360px;
    font-size: 16px;
}

.sidebar-item {
    padding: 30px;
}

.sidebar-item h4, .item-title{
    font-weight: bold;
}

.sidebar-item {
    word-wrap: normal;
}

.sidebar-icon {
    padding-right: 10px;
}

.sidebar-link {
    text-decoration: none;
    color: white;
}

.profile-pic {
    background-color: #3a7084;
    padding: 30px;
    text-align: center;
}

.profile-name {
    color: white;
    font-weight: 900;
}

.profile-job {
    color: #d8d8d8;
}

.profile-info {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    height: 100%;
}

.personal-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.picture {
    height: 150px;
    width: 150px;
    background-image: url(../images/selfie2.png);
    text-align: center;
    margin: auto;
    border-radius: 100%;
}

.content-item {
    margin-bottom: 30px;
}

.content-icon {
    background-color: #3a7084;
    color: white;
    border-radius: 50%;
    font-size: 18px;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: auto;
    position: relative;
    top: -5px;
    text-align: center;
    padding-top: 5px;
    margin-right: 15px;
}

.item {
    margin-bottom: 15px;
}

.skill-item {
    margin: 0;
}

.skill-header {
    padding: 0;
}


.work-details {
    margin: 0;
    margin-bottom: 2px;
}

.work-item-header {
    float: left;
    margin: 0;
}

.date {
    float: right;
    margin: 0;
    font-size: 16px;
}

.work-category {
    font-style: italic;
    font-weight: 300;
}

.work-item-header {
    font-size: 18px;
    font-weight: bold;
}

.work-item-location {
    color: #86878c;
    font-size: 16px;
}

.work-description {
    margin-top: 20px;
    list-style-type: circle;
}

.exp-bar {
    background-color: #d8d8d8;
    padding: 0;
    height: 20px;
}

.exp-filler {
    background-color: #42A8C0;
    height: 20px;
}

.exp-95 {
    width: 95%;
}

.exp-90 {
    width: 90%;
}

.exp-85 {
    width: 85%;
}

.exp-75 {
    width: 75%;
}

.header {
    margin-top: 0;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: #2d7788;
}

.section {
    margin-bottom: 60px;
}

.text {
    font-size: 18px;
    color: #545E6C;
}

.footer {
    margin-top: 50px;
}

.acknowledgement {
    text-align: center;
}

@media screen and (min-width: 990px) {
    .sidebar {
        float: right;
    }
}
