body {
    margin: 0;
    font-family: sans-serif;
}

.empty-right {
    grid-area: right;
}

.projects {
    grid-area: projects;
    background-color: red;
    padding: 30px;
}

.projects h3 {
    text-align: center;
}

.projects li {
    margin-top: 10%;
    margin-bottom: 10%;
}

.projects li:hover {
    background-color: yellow;
}

.projects ul {
    padding: 0;
}


ul {
    list-style-type: none;
}

.content {
    grid-area: content;
    text-align: left;
    padding: 15px;
}

.header {
    grid-area: header;
    text-align: center;
}

.navbar {
    grid-area: nav;
}

.grid-container {
    display: grid;
    
    grid-template-areas:
        'projects nav nav nav nav nav'
        'projects header header header header right'
        'projects content content content content right';
    
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
    border-right:1px solid #bbb;
}

.navbar li:last-child {
    border-right: none;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.navbar .active {
    background-color: #4CAF50;
}

a {
    text-decoration: none;
}

.subject-title {
    font-size: 200%;
    text-decoration: underline;
}

.subject-header {
    font-size: 125%;
    margin-left: 10px;
}

.subject-topic {
    font-size: 120%;
    margin-left: 25px;
    font-family: fantasy;
}
